* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline:  solid red; */
}
html{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(37, 37, 37);
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
}
.splash {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 40%;
}
.signup {
    width: 60%;
    background-color: rgb(180, 180, 175);
}
.logo-container {
    display: flex;
    z-index: 9;
    position: relative;
    bottom: 30%;
    background-color: black;
    opacity: 40%;
    height: 20%;
    color: white;
    
}
.odin {
    height: 100%;
}
.bearimage{
    width: 100%;
}